[*.{cs,vb}]

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = true:none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public:suggestion
