@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Purpose of this Project"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This Application is designed to help organize and manage Sacrament Meetings for the Church of Jesus Christ of Latter-Day Saints. The Sacrament Meeting Planner is a gudeline to help members and leaders create plans for their sacrament meetings in their wards and branches.</p>