@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Team Angles<br />
   Bothell WA 98088<br />
    <abbr title="Phone">P:</abbr>
    206.555.1825
Email: teamangles@yahoo.com

</address>

