@model SacrementPlanner.Models.SpeakerAssignment

@{
    ViewData["Title"] = "Edit";
    string showMeetingDate = "Meeting Date: ";
    DateTime meetingDate = Convert.ToDateTime(Model.Meeting.MeetingDate);
    showMeetingDate = "Meeting Date: " + meetingDate.ToString("MM/dd/yyyy");
}

<h1>Edit Speaker Assignment</h1>

<h4>@showMeetingDate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            @*<div class="form-group">
                    <label asp-for="MeetingID" class="control-label"></label>
                    <input asp-for="MeetingID" class="form-control" />
                    <span asp-validation-for="MeetingID" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="SpeakerName" class="control-label"></label>
                <input asp-for="SpeakerName" class="form-control" />
                <span asp-validation-for="SpeakerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerTopic" class="control-label"></label>
                <input asp-for="SpeakerTopic" class="form-control" />
                <span asp-validation-for="SpeakerTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.MeetingID">Back to Speaker List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}