﻿@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Tenali+Ramakrishna&display=swap');

html {
    background-color: #262626;
    color: whitesmoke;
    font-size: 16px;
}

h1 {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 54px;
}

body {
    width: 60%;
    margin: auto;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #262626;
    color: whitesmoke;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.display-4 {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 72px;
}

h1 {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 54px;
}

h2 {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 42px;
}

a, a:visited {
    text-decoration: none !important;
    color: darkorange;
}


/******************
    Nav styles
*******************/
nav {
    font-size: 24px;
    margin-top: 1em;
    display: flex;
}

    nav span, nav a {
        margin-right: .5em;
    }

        nav a:visited {
            color: darkorange;
        }

    nav ul {
        list-style-type: none;
    }


/*******************
    Index styles
********************/
.table {
    border: 2px solid gray;
    padding: 4em;
    margin: auto;
    width: 100%;
    color: whitesmoke;
}

td, th {
    padding: 5px;
    border-bottom: 1px dashed lightgray;
}

.spaceBetween {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

    .spaceBetween form {
        padding-bottom: 0px;
    }

th {
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 20px;
}

td {
    text-align: center;
}

/*******************************
    Create and Edit styles
********************************/
hr {
    display: none;
}

    hr ~ .row {
        width: 60%;
        justify-content: center;
    }

.form-group-radio {
    padding: .75em;
}

.form-group {
    padding: .75em;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-between
}

input[type="number"].form-control, input[type="text"].form-control {
    width: 200px;
}

input[type="submit"] {
    width: 60px;
}

.control-label {
    font-weight: bold;
    font-size: 18px;
}

.limitation-label {
    font-size: 12px;
}

/*******************************
    Details and Delete styles
********************************/
.row {
    display: grid;
    grid-template-columns: auto auto;
    width: 30%;
    margin: auto;
    border: 2px solid gray;
    padding: 2em;
    margin-bottom: .5em;
}

dd, dt {
    padding: .5em;
    border-bottom: 1px dashed lightgray;
}

dt {
    font-weight: bold;
}

.centered {
    width: 30%;
    margin: auto;
    text-align: center;
}


/* Button Styles */
.btn {
    border: 1px solid transparent;
    border-radius: .25rem;
    color: whitesmoke;
    background-color: darkorange;
    border-color: darkorange;
}

.form-control {
    background-color: whitesmoke;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* mobile styles */
@media screen and (max-width: 480px) {
    body {
        width: 95%;
    }

    .row {
        width: 100%;
        margin: auto;
        border: none;
    }

    h1 {
        margin-bottom: 0;
    }

    h4 {
        font-size: 24px;
        margin-top: 0px;
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }

    .form-group {
        grid-template-columns: none;
    }

    .table {
        border: none;
        width: 100%;
        margin: auto;
    }
}
