@model SacrementPlanner.Models.Meeting

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Meeting</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Presiding" class="control-label"></label>
                <input asp-for="Presiding" class="form-control" />
                <span asp-validation-for="Presiding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conducting" class="control-label"></label>
                <input asp-for="Conducting" class="form-control" />
                <span asp-validation-for="Conducting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialNotes" class="control-label"></label>
                <input asp-for="SpecialNotes" class="form-control" />
                <span asp-validation-for="SpecialNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymn" class="control-label"></label>
                <select asp-for="OpeningHymn" class="form-control">
                    <option value="Please Select a Hymn">Please Select a Hymn</option>
                    <option value="1. The Morning Breaks">1. The Morning Breaks</option>
                    <option value="2. The Spirit of God">2. The Spirit of God</option>
                    <option value="3. Now Let Us Rejoice">3. Now Let Us Rejoice</option>
                    <option value="4. Truth Eternal">4. Truth Eternal</option>
                    <option value="5. High on the Mountain Top">5. High on the Mountain Top</option>
                    <option value="6. Redeemer of Israel">6. Redeemer of Israel</option>
                    <option value="7. Israel, Israel, God Is Calling">7. Israel, Israel, God Is Calling</option>
                    <option value="8. Awake and Arise">8. Awake and Arise</option>
                    <option value="9. Come, Rejoice">9. Come, Rejoice</option>
                    <option value="10. Come, Sing to the Lord">10. Come, Sing to the Lord</option>
                    <option value="11. What Was Witnessed in the Heavens?">11. What Was Witnessed in the Heavens?</option>
                    <option value="12. ’Twas Witnessed in the Morning Sky">12. ’Twas Witnessed in the Morning Sky</option>
                    <option value="13. An Angel from on High">13. An Angel from on High</option>
                    <option value="14. Sweet Is the Peace the Gospel Brings">14. Sweet Is the Peace the Gospel Brings</option>
                    <option value="15. I Saw a Mighty Angel Fly">15. I Saw a Mighty Angel Fly</option>
                    <option value="16. What Glorious Scenes Mine Eyes Behold">16. What Glorious Scenes Mine Eyes Behold</option>
                    <option value="17. Awake, Ye Saints of God, Awake!">17. Awake, Ye Saints of God, Awake!</option>
                    <option value="18. The Voice of God Again Is Heard">18. The Voice of God Again Is Heard</option>
                    <option value="19. We Thank Thee, O God, for a Prophet">19. We Thank Thee, O God, for a Prophet</option>
                    <option value="20. God of Power, God of Right">20. God of Power, God of Right</option>
                    <option value="21. Come, Listen to a Prophet’s Voice">21. Come, Listen to a Prophet’s Voice</option>
                    <option value="22. We Listen to a Prophet’s Voice">22. We Listen to a Prophet’s Voice</option>
                    <option value="23. We Ever Pray for Thee">23. We Ever Pray for Thee</option>
                    <option value="24. God Bless Our Prophet Dear">24. God Bless Our Prophet Dear</option>
                    <option value="25. Now We’ll Sing with One Accord">25. Now We’ll Sing with One Accord</option>
                    <option value="26. Joseph Smith’s First Prayer">26. Joseph Smith’s First Prayer</option>
                    <option value="27. Praise to the Man">27. Praise to the Man</option>
                    <option value="28. Saints, Behold How Great Jehovah">28. Saints, Behold How Great Jehovah</option>
                    <option value="29. A Poor Wayfaring Man of Grief">29. A Poor Wayfaring Man of Grief</option>
                    <option value="30. Come, Come, Ye Saints">30. Come, Come, Ye Saints</option>
                    <option value="31. O God, Our Help in Ages Past">31. O God, Our Help in Ages Past</option>
                    <option value="32. The Happy Day at Last Has Come">32. The Happy Day at Last Has Come</option>
                    <option value="33. Our Mountain Home So Dear">33. Our Mountain Home So Dear</option>
                    <option value="34. O Ye Mountains High">34. O Ye Mountains High</option>
                    <option value="35. For the Strength of the Hills">35. For the Strength of the Hills</option>
                    <option value="36. They, the Builders of the Nation">36. They, the Builders of the Nation</option>
                    <option value="37. The Wintry Day, Descending to Its Close">37. The Wintry Day, Descending to Its Close</option>
                    <option value="38. Come, All Ye Saints of Zion">38. Come, All Ye Saints of Zion</option>
                    <option value="39. O Saints of Zion">39. O Saints of Zion</option>
                    <option value="40. Arise, O Glorious Zion">40. Arise, O Glorious Zion</option>
                    <option value="41. Let Zion in Her Beauty Rise">41. Let Zion in Her Beauty Rise</option>
                    <option value="42. Hail to the Brightness of Zion’s Glad Morning!">42. Hail to the Brightness of Zion’s Glad Morning!</option>
                    <option value="43. Zion Stands with Hills Surrounded">43. Zion Stands with Hills Surrounded</option>
                    <option value="44. Beautiful Zion, Built Above">44. Beautiful Zion, Built Above</option>
                    <option value="45. Lead Me into Life Eternal">45. Lead Me into Life Eternal</option>
                    <option value="46. Glorious Things of Thee Are Spoken">46. Glorious Things of Thee Are Spoken</option>
                    <option value="47. We Will Sing of Zion">47. We Will Sing of Zion</option>
                    <option value="48. Glorious Things Are Sung of Zion">48. Glorious Things Are Sung of Zion</option>
                    <option value="49. Adam-ondi-Ahman">49. Adam-ondi-Ahman</option>
                    <option value="50. Come, Thou Glorious Day of Promise">50. Come, Thou Glorious Day of Promise</option>
                    <option value="51. Sons of Michael, He Approaches">51. Sons of Michael, He Approaches</option>
                    <option value="52. The Day Dawn Is Breaking">52. The Day Dawn Is Breaking</option>
                    <option value="53. Let Earth’s Inhabitants Rejoice">53. Let Earth’s Inhabitants Rejoice</option>
                    <option value="54. Behold, the Mountain of the Lord">54. Behold, the Mountain of the Lord</option>
                    <option value="55. Lo, the Mighty God Appearing!">55. Lo, the Mighty God Appearing!</option>
                    <option value="56. Softly Beams the Sacred Dawning">56. Softly Beams the Sacred Dawning</option>
                    <option value="57. We’re Not Ashamed to Own Our Lord">57. We’re Not Ashamed to Own Our Lord</option>
                    <option value="58. Come, Ye Children of the Lord">58. Come, Ye Children of the Lord</option>
                    <option value="59. Come, O Thou King of Kings">59. Come, O Thou King of Kings</option>
                    <option value="60. Battle Hymn of the Republic">60. Battle Hymn of the Republic</option>
                    <option value="61. Raise Your Voices to the Lord">61. Raise Your Voices to the Lord</option>
                    <option value="62. All Creatures of Our God and King">62. All Creatures of Our God and King</option>
                    <option value="63. Great King of Heaven">63. Great King of Heaven</option>
                    <option value="64. On This Day of Joy and Gladness">64. On This Day of Joy and Gladness</option>
                    <option value="65. Come, All Ye Saints Who Dwell on Earth">65. Come, All Ye Saints Who Dwell on Earth</option>
                    <option value="66. Rejoice, the Lord Is King!">66. Rejoice, the Lord Is King!</option>
                    <option value="67. Glory to God on High">67. Glory to God on High</option>
                    <option value="68. A Mighty Fortress Is Our God">68. A Mighty Fortress Is Our God</option>
                    <option value="69. All Glory, Laud, and Honor">69. All Glory, Laud, and Honor</option>
                    <option value="70. Sing Praise to Him">70. Sing Praise to Him</option>
                    <option value="71. With Songs of Praise">71. With Songs of Praise</option>
                    <option value="72. Praise to the Lord, the Almighty">72. Praise to the Lord, the Almighty</option>
                    <option value="73. Praise the Lord with Heart and Voice">73. Praise the Lord with Heart and Voice</option>
                    <option value="74. Praise Ye the Lord">74. Praise Ye the Lord</option>
                    <option value="75. In Hymns of Praise">75. In Hymns of Praise</option>
                    <option value="76. God of Our Fathers, We Come unto Thee">76. God of Our Fathers, We Come unto Thee</option>
                    <option value="77. Great Is the Lord">77. Great Is the Lord</option>
                    <option value="78. God of Our Fathers, Whose Almighty Hand">78. God of Our Fathers, Whose Almighty Hand</option>
                    <option value="79. With All the Power of Heart and Tongue">79. With All the Power of Heart and Tongue</option>
                    <option value="80. God of Our Fathers, Known of Old">80. God of Our Fathers, Known of Old</option>
                    <option value="81. Press Forward, Saints">81. Press Forward, Saints</option>
                    <option value="82. For All the Saints">82. For All the Saints</option>
                    <option value="83. Guide Us, O Thou Great Jehovah">83. Guide Us, O Thou Great Jehovah</option>
                    <option value="84. Faith of Our Fathers">84. Faith of Our Fathers</option>
                    <option value="85. How Firm a Foundation">85. How Firm a Foundation</option>
                    <option value="86. How Great Thou Art">86. How Great Thou Art</option>
                    <option value="87. God Is Love">87. God Is Love</option>
                    <option value="88. Great God, Attend While Zion Sings">88. Great God, Attend While Zion Sings</option>
                    <option value="89. The Lord Is My Light">89. The Lord Is My Light</option>
                    <option value="90. From All That Dwell below the Skies">90. From All That Dwell below the Skies</option>
                    <option value="91. Father, Thy Children to Thee Now Raise">91. Father, Thy Children to Thee Now Raise</option>
                    <option value="92. For the Beauty of the Earth">92. For the Beauty of the Earth</option>
                    <option value="93. Prayer of Thanksgiving">93. Prayer of Thanksgiving</option>
                    <option value="94. Come, Ye Thankful People">94. Come, Ye Thankful People</option>
                    <option value="95. Now Thank We All Our God">95. Now Thank We All Our God</option>
                    <option value="96. Dearest Children, God Is Near You">96. Dearest Children, God Is Near You</option>
                    <option value="97. Lead, Kindly Light">97. Lead, Kindly Light</option>
                    <option value="98. I Need Thee Every Hour">98. I Need Thee Every Hour</option>
                    <option value="99. Nearer, Dear Savior, to Thee">99. Nearer, Dear Savior, to Thee</option>
                    <option value="100. Nearer, My God, to Thee">100. Nearer, My God, to Thee</option>
                    <option value="101. Guide Me to Thee">101. Guide Me to Thee</option>
                    <option value="102. Jesus, Lover of My Soul">102. Jesus, Lover of My Soul</option>
                    <option value="103. Precious Savior, Dear Redeemer">103. Precious Savior, Dear Redeemer</option>
                    <option value="104. Jesus, Savior, Pilot Me">104. Jesus, Savior, Pilot Me</option>
                    <option value="105. Master, the Tempest Is Raging">105. Master, the Tempest Is Raging</option>
                    <option value="106. God Speed the Right">106. God Speed the Right</option>
                    <option value="107. Lord, Accept Our True Devotion">107. Lord, Accept Our True Devotion</option>
                    <option value="108. The Lord Is My Shepherd">108. The Lord Is My Shepherd</option>
                    <option value="109. The Lord My Pasture Will Prepare">109. The Lord My Pasture Will Prepare</option>
                    <option value="110. Cast Thy Burden upon the Lord">110. Cast Thy Burden upon the Lord</option>
                    <option value="111. Rock of Ages">111. Rock of Ages</option>
                    <option value="112. Savior, Redeemer of My Soul">112. Savior, Redeemer of My Soul</option>
                    <option value="113. Our Savior’s Love">113. Our Savior’s Love</option>
                    <option value="114. Come unto Him">114. Come unto Him</option>
                    <option value="115. Come, Ye Disconsolate">115. Come, Ye Disconsolate</option>
                    <option value="116. Come, Follow Me">116. Come, Follow Me</option>
                    <option value="117. Come unto Jesus">117. Come unto Jesus</option>
                    <option value="118. Ye Simple Souls Who Stray">118. Ye Simple Souls Who Stray</option>
                    <option value="119. Come, We That Love the Lord">119. Come, We That Love the Lord</option>
                    <option value="120. Lean on My Ample Arm">120. Lean on My Ample Arm</option>
                    <option value="121. I’m a Pilgrim, I’m a Stranger">121. I’m a Pilgrim, I’m a Stranger</option>
                    <option value="122. Though Deepening Trials">122. Though Deepening Trials</option>
                    <option value="123. Oh, May My Soul Commune with Thee">123. Oh, May My Soul Commune with Thee</option>
                    <option value="124. Be Still, My Soul">124. Be Still, My Soul</option>
                    <option value="125. How Gentle God’s Commands">125. How Gentle God’s Commands</option>
                    <option value="126. How Long, O Lord Most Holy and True">126. How Long, O Lord Most Holy and True</option>
                    <option value="127. Does the Journey Seem Long?">127. Does the Journey Seem Long?</option>
                    <option value="128. When Faith Endures">128. When Faith Endures</option>
                    <option value="129. Where Can I Turn for Peace?">129. Where Can I Turn for Peace?</option>
                    <option value="130. Be Thou Humble">130. Be Thou Humble</option>
                    <option value="131. More Holiness Give Me">131. More Holiness Give Me</option>
                    <option value="132. God Is in His Holy Temple">132. God Is in His Holy Temple</option>
                    <option value="133. Father in Heaven">133. Father in Heaven</option>
                    <option value="134. I Believe in Christ">134. I Believe in Christ</option>
                    <option value="135. My Redeemer Lives">135. My Redeemer Lives</option>
                    <option value="136. I Know That My Redeemer Lives">136. I Know That My Redeemer Lives</option>
                    <option value="137. Testimony">137. Testimony</option>
                    <option value="138. Bless Our Fast, We Pray">138. Bless Our Fast, We Pray</option>
                    <option value="139. In Fasting We Approach Thee">139. In Fasting We Approach Thee</option>
                    <option value="140. Did You Think to Pray?">140. Did You Think to Pray?</option>
                    <option value="141. Jesus, the Very Thought of Thee">141. Jesus, the Very Thought of Thee</option>
                    <option value="142. Sweet Hour of Prayer">142. Sweet Hour of Prayer</option>
                    <option value="143. Let the Holy Spirit Guide">143. Let the Holy Spirit Guide</option>
                    <option value="144. Secret Prayer">144. Secret Prayer</option>
                    <option value="145. Prayer Is the Soul’s Sincere Desire">145. Prayer Is the Soul’s Sincere Desire</option>
                    <option value="146. Gently Raise the Sacred Strain">146. Gently Raise the Sacred Strain</option>
                    <option value="147. Sweet Is the Work">147. Sweet Is the Work</option>
                    <option value="148. Sabbath Day">148. Sabbath Day</option>
                    <option value="149. As the Dew from Heaven Distilling">149. As the Dew from Heaven Distilling</option>
                    <option value="150. O Thou Kind and Gracious Father">150. O Thou Kind and Gracious Father</option>
                    <option value="151. We Meet, Dear Lord">151. We Meet, Dear Lord</option>
                    <option value="152. God Be with You Till We Meet Again">152. God Be with You Till We Meet Again</option>
                    <option value="153. Lord, We Ask Thee Ere We Part">153. Lord, We Ask Thee Ere We Part</option>
                    <option value="154. Father, This Hour Has Been One of Joy">154. Father, This Hour Has Been One of Joy</option>
                    <option value="155. We Have Partaken of Thy Love">155. We Have Partaken of Thy Love</option>
                    <option value="156. Sing We Now at Parting">156. Sing We Now at Parting</option>
                    <option value="157. Thy Spirit, Lord, Has Stirred Our Souls">157. Thy Spirit, Lord, Has Stirred Our Souls</option>
                    <option value="158. Before Thee, Lord, I Bow My Head">158. Before Thee, Lord, I Bow My Head</option>
                    <option value="159. Now the Day Is Over">159. Now the Day Is Over</option>
                    <option value="160. Softly Now the Light of Day">160. Softly Now the Light of Day</option>
                    <option value="161. The Lord Be with Us">161. The Lord Be with Us</option>
                    <option value="162. Lord, We Come before Thee Now">162. Lord, We Come before Thee Now</option>
                    <option value="163. Lord, Dismiss Us with Thy Blessing">163. Lord, Dismiss Us with Thy Blessing</option>
                    <option value="164. Great God, to Thee My Evening Song">164. Great God, to Thee My Evening Song</option>
                    <option value="165. Abide with Me; ’Tis Eventide">165. Abide with Me; ’Tis Eventide</option>
                    <option value="166. Abide with Me!">166. Abide with Me!</option>
                    <option value="167. Come, Let Us Sing an Evening Hymn">167. Come, Let Us Sing an Evening Hymn</option>
                    <option value="168. As the Shadows Fall">168. As the Shadows Fall</option>
                    <option value="169. As Now We Take the Sacrament">169. As Now We Take the Sacrament</option>
                    <option value="170. God, Our Father, Hear Us Pray">170. God, Our Father, Hear Us Pray</option>
                    <option value="171. With Humble Heart">171. With Humble Heart</option>
                    <option value="172. In Humility, Our Savior">172. In Humility, Our Savior</option>
                    <option value="173. While of These Emblems We Partake">173. While of These Emblems We Partake</option>
                    <option value="173. While of These Emblems We Partake">173. While of These Emblems We Partake</option>
                    <option value="175. O God, the Eternal Father">175. O God, the Eternal Father</option>
                    <option value="176. 'Tis Sweet to Sing the Matchless Love">176. 'Tis Sweet to Sing the Matchless Love</option>
                    <option value="176. 'Tis Sweet To Sing the Matchless Love">176. 'Tis Sweet To Sing the Matchless Love</option>
                    <option value="178. O Lord of Hosts">178. O Lord of Hosts</option>
                    <option value="179. Again, Our Dear Redeeming Lord">179. Again, Our Dear Redeeming Lord</option>
                    <option value="180. Father in Heaven, We Do Believe">180. Father in Heaven, We Do Believe</option>
                    <option value="181. Jesus of Nazareth, Savior and King">181. Jesus of Nazareth, Savior and King</option>
                    <option value="182. We’ll Sing All Hail to Jesus’ Name">182. We’ll Sing All Hail to Jesus’ Name</option>
                    <option value="183. In Remembrance of Thy Suffering">183. In Remembrance of Thy Suffering</option>
                    <option value="184. Upon the Cross of Calvary">184. Upon the Cross of Calvary</option>
                    <option value="185. Reverently and Meekly Now">185. Reverently and Meekly Now</option>
                    <option value="186. Again We Meet around the Board">186. Again We Meet around the Board</option>
                    <option value="187. God Loved Us, So He Sent His Son">187. God Loved Us, So He Sent His Son</option>
                    <option value="188. Thy Will, O Lord, Be Done">188. Thy Will, O Lord, Be Done</option>
                    <option value="189. O Thou, Before the World Began">189. O Thou, Before the World Began</option>
                    <option value="190. In Memory of the Crucified">190. In Memory of the Crucified</option>
                    <option value="191. Behold the Great Redeemer Die">191. Behold the Great Redeemer Die</option>
                    <option value="192. He Died! The Great Redeemer Died">192. He Died! The Great Redeemer Died</option>
                    <option value="193. I Stand All Amazed">193. I Stand All Amazed</option>
                    <option value="194. There Is a Green Hill Far Away">194. There Is a Green Hill Far Away</option>
                    <option value="195. How Great the Wisdom and the Love">195. How Great the Wisdom and the Love</option>
                    <option value="196. Jesus, Once of Humble Birth">196. Jesus, Once of Humble Birth</option>
                    <option value="197. O Savior, Thou Who Wearest a Crown">197. O Savior, Thou Who Wearest a Crown</option>
                    <option value="198. That Easter Morn">198. That Easter Morn</option>
                    <option value="199. He Is Risen!">199. He Is Risen!</option>
                    <option value="200. Christ the Lord Is Risen Today">200. Christ the Lord Is Risen Today</option>
                    <option value="201. Joy to the World">201. Joy to the World</option>
                    <option value="202. Oh, Come, All Ye Faithful">202. Oh, Come, All Ye Faithful</option>
                    <option value="203. Angels We Have Heard on High">203. Angels We Have Heard on High</option>
                    <option value="204. Silent Night">204. Silent Night</option>
                    <option value="205. Once in Royal David’s City">205. Once in Royal David’s City</option>
                    <option value="206. Away in a Manger">206. Away in a Manger</option>
                    <option value="207. It Came upon the Midnight Clear">207. It Came upon the Midnight Clear</option>
                    <option value="208. O Little Town of Bethlehem">208. O Little Town of Bethlehem</option>
                    <option value="209. Hark! The Herald Angels Sing">209. Hark! The Herald Angels Sing</option>
                    <option value="210. With Wondering Awe">210. With Wondering Awe</option>
                    <option value="211. While Shepherds Watched Their Flocks">211. While Shepherds Watched Their Flocks</option>
                    <option value="212. Far, Far Away on Judea’s Plains">212. Far, Far Away on Judea’s Plains</option>
                    <option value="213. The First Noel">213. The First Noel</option>
                    <option value="214. I Heard the Bells on Christmas Day">214. I Heard the Bells on Christmas Day</option>
                    <option value="215. Ring Out, Wild Bells">215. Ring Out, Wild Bells</option>
                    <option value="216. We Are Sowing">216. We Are Sowing</option>
                    <option value="217. Come, Let Us Anew">217. Come, Let Us Anew</option>
                    <option value="218. We Give Thee But Thine Own">218. We Give Thee But Thine Own</option>
                    <option value="219. Because I Have Been Given Much">219. Because I Have Been Given Much</option>
                    <option value="220. Lord, I Would Follow Thee">220. Lord, I Would Follow Thee</option>
                    <option value="221. Dear to the Heart of the Shepherd">221. Dear to the Heart of the Shepherd</option>
                    <option value="222. Hear Thou Our Hymn, O Lord">222. Hear Thou Our Hymn, O Lord</option>
                    <option value="223. Have I Done Any Good?">223. Have I Done Any Good?</option>
                    <option value="224. I Have Work Enough to Do">224. I Have Work Enough to Do</option>
                    <option value="225. We Are Marching On to Glory">225. We Are Marching On to Glory</option>
                    <option value="226. Improve the Shining Moments">226. Improve the Shining Moments</option>
                    <option value="227. There Is Sunshine in My Soul Today">227. There Is Sunshine in My Soul Today</option>
                    <option value="228. You Can Make the Pathway Bright">228. You Can Make the Pathway Bright</option>
                    <option value="229. Today, While the Sun Shines">229. Today, While the Sun Shines</option>
                    <option value="230. Scatter Sunshine">230. Scatter Sunshine</option>
                    <option value="231. Father, Cheer Our Souls Tonight">231. Father, Cheer Our Souls Tonight</option>
                    <option value="232. Let Us Oft Speak Kind Words">232. Let Us Oft Speak Kind Words</option>
                    <option value="233. Nay, Speak No Ill">233. Nay, Speak No Ill</option>
                    <option value="234. Jesus, Mighty King in Zion">234. Jesus, Mighty King in Zion</option>
                    <option value="235. Should You Feel Inclined to Censure">235. Should You Feel Inclined to Censure</option>
                    <option value="236. Lord, Accept into Thy Kingdom">236. Lord, Accept into Thy Kingdom</option>
                    <option value="237. Do What Is Right">237. Do What Is Right</option>
                    <option value="238. Behold Thy Sons and Daughters, Lord">238. Behold Thy Sons and Daughters, Lord</option>
                    <option value="239. Choose the Right">239. Choose the Right</option>
                    <option value="240. Know This, That Every Soul Is Free">240. Know This, That Every Soul Is Free</option>
                    <option value="241. Count Your Blessings">241. Count Your Blessings</option>
                    <option value="242. Praise God, from Whom All Blessings Flow">242. Praise God, from Whom All Blessings Flow</option>
                    <option value="243. Let Us All Press On">243. Let Us All Press On</option>
                    <option value="244. Come Along, Come Along">244. Come Along, Come Along</option>
                    <option value="245. This House We Dedicate to Thee">245. This House We Dedicate to Thee</option>
                    <option value="246. Onward, Christian Soldiers">246. Onward, Christian Soldiers</option>
                    <option value="247. We Love Thy House, O God">247. We Love Thy House, O God</option>
                    <option value="248. Up, Awake, Ye Defenders of Zion">248. Up, Awake, Ye Defenders of Zion</option>
                    <option value="249. Called to Serve">249. Called to Serve</option>
                    <option value="250. We Are All Enlisted">250. We Are All Enlisted</option>
                    <option value="251. Behold! A Royal Army">251. Behold! A Royal Army</option>
                    <option value="252. Put Your Shoulder to the Wheel">252. Put Your Shoulder to the Wheel</option>
                    <option value="253. Like Ten Thousand Legions Marching">253. Like Ten Thousand Legions Marching</option>
                    <option value="254. True to the Faith">254. True to the Faith</option>
                    <option value="255. Carry On">255. Carry On</option>
                    <option value="256. As Zion’s Youth in Latter Days">256. As Zion’s Youth in Latter Days</option>
                    <option value="257. Rejoice! A Glorious Sound Is Heard">257. Rejoice! A Glorious Sound Is Heard</option>
                    <option value="258. O Thou Rock of Our Salvation">258. O Thou Rock of Our Salvation</option>
                    <option value="259. Hope of Israel">259. Hope of Israel</option>
                    <option value="260. Who’s on the Lord’s Side?">260. Who’s on the Lord’s Side?</option>
                    <option value="261. Thy Servants Are Prepared">261. Thy Servants Are Prepared</option>
                    <option value="262. Go, Ye Messengers of Glory">262. Go, Ye Messengers of Glory</option>
                    <option value="263. Go Forth with Faith">263. Go Forth with Faith</option>
                    <option value="264. Hark, All Ye Nations!">264. Hark, All Ye Nations!</option>
                    <option value="265. Arise, O God, and Shine">265. Arise, O God, and Shine</option>
                    <option value="266. The Time Is Far Spent">266. The Time Is Far Spent</option>
                    <option value="267. How Wondrous and Great">267. How Wondrous and Great</option>
                    <option value="268. Come, All Whose Souls Are Lighted">268. Come, All Whose Souls Are Lighted</option>
                    <option value="269. Jehovah, Lord of Heaven and Earth">269. Jehovah, Lord of Heaven and Earth</option>
                    <option value="270. I’ll Go Where You Want Me to Go">270. I’ll Go Where You Want Me to Go</option>
                    <option value="271. Oh, Holy Words of Truth and Love">271. Oh, Holy Words of Truth and Love</option>
                    <option value="272. Oh Say, What Is Truth?">272. Oh Say, What Is Truth?</option>
                    <option value="273. Truth Reflects upon Our Senses">273. Truth Reflects upon Our Senses</option>
                    <option value="274. The Iron Rod">274. The Iron Rod</option>
                    <option value="275. Men Are That They Might Have Joy">275. Men Are That They Might Have Joy</option>
                    <option value="276. Come Away to the Sunday School">276. Come Away to the Sunday School</option>
                    <option value="277. As I Search the Holy Scriptures">277. As I Search the Holy Scriptures</option>
                    <option value="278. Thanks for the Sabbath School">278. Thanks for the Sabbath School</option>
                    <option value="279. Thy Holy Word">279. Thy Holy Word</option>
                    <option value="280. Welcome, Welcome, Sabbath Morning">280. Welcome, Welcome, Sabbath Morning</option>
                    <option value="281. Help Me Teach with Inspiration">281. Help Me Teach with Inspiration</option>
                    <option value="282. We Meet Again in Sabbath School">282. We Meet Again in Sabbath School</option>
                    <option value="283. The Glorious Gospel Light Has Shone">283. The Glorious Gospel Light Has Shone</option>
                    <option value="284. If You Could Hie to Kolob">284. If You Could Hie to Kolob</option>
                    <option value="285. God Moves in a Mysterious Way">285. God Moves in a Mysterious Way</option>
                    <option value="286. Oh, What Songs of the Heart">286. Oh, What Songs of the Heart</option>
                    <option value="287. Rise, Ye Saints, and Temples Enter">287. Rise, Ye Saints, and Temples Enter</option>
                    <option value="288. How Beautiful Thy Temples, Lord">288. How Beautiful Thy Temples, Lord</option>
                    <option value="289. Holy Temples on Mount Zion">289. Holy Temples on Mount Zion</option>
                    <option value="290. Rejoice, Ye Saints of Latter Days">290. Rejoice, Ye Saints of Latter Days</option>
                    <option value="291. Turn Your Hearts">291. Turn Your Hearts</option>
                    <option value="292. O My Father">292. O My Father</option>
                    <option value="293. Each Life That Touches Ours for Good">293. Each Life That Touches Ours for Good</option>
                    <option value="294. Love at Home">294. Love at Home</option>
                    <option value="295. O Love That Glorifies the Son">295. O Love That Glorifies the Son</option>
                    <option value="296. Our Father, by Whose Name">296. Our Father, by Whose Name</option>
                    <option value="297. From Homes of Saints Glad Songs Arise">297. From Homes of Saints Glad Songs Arise</option>
                    <option value="298. Home Can Be a Heaven on Earth">298. Home Can Be a Heaven on Earth</option>
                    <option value="299. Children of Our Heavenly Father">299. Children of Our Heavenly Father</option>
                    <option value="300. Families Can Be Together Forever">300. Families Can Be Together Forever</option>
                    <option value="301. I Am a Child of God">301. I Am a Child of God</option>
                    <option value="302. I Know My Father Lives">302. I Know My Father Lives</option>
                    <option value="303. Keep the Commandments">303. Keep the Commandments</option>
                    <option value="304. Teach Me to Walk in the Light">304. Teach Me to Walk in the Light</option>
                    <option value="305. The Light Divine">305. The Light Divine</option>
                    <option value="306. God’s Daily Care">306. God’s Daily Care</option>
                    <option value="307. In Our Lovely Deseret">307. In Our Lovely Deseret</option>
                    <option value="308. Love One Another">308. Love One Another</option>
                    <option value="309. As Sisters in Zion (Women)">309. As Sisters in Zion (Women)</option>
                    <option value="310. A Key Was Turned in Latter Days (Women)">310. A Key Was Turned in Latter Days (Women)</option>
                    <option value="311. We Meet Again as Sisters (Women)">311. We Meet Again as Sisters (Women)</option>
                    <option value="312. We Ever Pray for Thee (Women)">312. We Ever Pray for Thee (Women)</option>
                    <option value="313. God Is Love (Women)">313. God Is Love (Women)</option>
                    <option value="314. How Gentle God’s Commands (Women)">314. How Gentle God’s Commands (Women)</option>
                    <option value="315. Jesus, the Very Thought of Thee (Women)">315. Jesus, the Very Thought of Thee (Women)</option>
                    <option value="316. The Lord Is My Shepherd (Women)">316. The Lord Is My Shepherd (Women)</option>
                    <option value="317. Sweet Is the Work (Women)">317. Sweet Is the Work (Women)</option>
                    <option value="318. Love at Home (Women)">318. Love at Home (Women)</option>
                    <option value="319. Ye Elders of Israel (Men)">319. Ye Elders of Israel (Men)</option>
                    <option value="320. The Priesthood of Our Lord (Men)">320. The Priesthood of Our Lord (Men)</option>
                    <option value="321. Ye Who Are Called to Labor (Men)">321. Ye Who Are Called to Labor (Men)</option>
                    <option value="322. Come, All Ye Sons of God (Men)">322. Come, All Ye Sons of God (Men)</option>
                    <option value="323. Rise Up, O Men of God (Men’s Choir)">323. Rise Up, O Men of God (Men’s Choir)</option>
                    <option value="324. Rise Up, O Men of God (Men)">324. Rise Up, O Men of God (Men)</option>
                    <option value="325. See the Mighty Priesthood Gathered (Men’s Choir)">325. See the Mighty Priesthood Gathered (Men’s Choir)</option>
                    <option value="326. Come, Come, Ye Saints (Men’s Choir)">326. Come, Come, Ye Saints (Men’s Choir)</option>
                    <option value="327. Go, Ye Messengers of Heaven (Men’s Choir)">327. Go, Ye Messengers of Heaven (Men’s Choir)</option>
                    <option value="328. An Angel from on High">328. An Angel from on High</option>
                    <option value="329. Thy Servants Are Prepared (Men’s Choir)">329. Thy Servants Are Prepared (Men’s Choir)</option>
                    <option value="330. See, the Mighty Angel Flying (Men’s Choir)">330. See, the Mighty Angel Flying (Men’s Choir)</option>
                    <option value="331. Oh Say, What Is Truth? (Men’s Choir)">331. Oh Say, What Is Truth? (Men’s Choir)</option>
                    <option value="332. Come, O Thou King of Kings (Men’s Choir)">332. Come, O Thou King of Kings (Men’s Choir)</option>
                    <option value="333. High on the Mountain Top (Men’s Choir)">333. High on the Mountain Top (Men’s Choir)</option>
                    <option value="334. I Need Thee Every Hour (Men’s Choir)">334. I Need Thee Every Hour (Men’s Choir)</option>
                    <option value="335. Brightly Beams Our Father’s Mercy (Men’s Choir)">335. Brightly Beams Our Father’s Mercy (Men’s Choir)</option>
                    <option value="336. School Thy Feelings (Men’s Choir)">336. School Thy Feelings (Men’s Choir)</option>
                    <option value="337. O Home Beloved (Men’s Choir)">337. O Home Beloved (Men’s Choir)</option>
                    <option value="338. America the Beautiful">338. America the Beautiful</option>
                    <option value="339. My Country, ’Tis of Thee">339. My Country, ’Tis of Thee</option>
                    <option value="340. The Star-Spangled Banner">340. The Star-Spangled Banner</option>
                    <option value="341. God Save the King">341. God Save the King</option>
                </select>
                <span asp-validation-for="OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invocation" class="control-label"></label>
                <input asp-for="Invocation" class="form-control" />
                <span asp-validation-for="Invocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacamentHymn" class="control-label"></label>
                <select asp-for="SacamentHymn" class="form-control">
                    <option value="Please Select a Hymn">Please Select a Hymn</option>
                    <option value="146. Gently Raise the Sacred Strain">146. Gently Raise the Sacred Strain</option>
                    <option value="147. Sweet Is the Work">147. Sweet Is the Work</option>
                    <option value="148. Sabbath Day">148. Sabbath Day</option>
                    <option value="149. As the Dew from Heaven Distilling">149. As the Dew from Heaven Distilling</option>
                    <option value="150. O Thou Kind and Gracious Father">150. O Thou Kind and Gracious Father</option>
                    <option value="151. We Meet, Dear Lord">151. We Meet, Dear Lord</option>
                    <option value="152. God Be with You Till We Meet Again">152. God Be with You Till We Meet Again</option>
                    <option value="153. Lord, We Ask Thee Ere We Part">153. Lord, We Ask Thee Ere We Part</option>
                    <option value="154. Father, This Hour Has Been One of Joy">154. Father, This Hour Has Been One of Joy</option>
                    <option value="155. We Have Partaken of Thy Love">155. We Have Partaken of Thy Love</option>
                    <option value="156. Sing We Now at Parting">156. Sing We Now at Parting</option>
                    <option value="157. Thy Spirit, Lord, Has Stirred Our Souls">157. Thy Spirit, Lord, Has Stirred Our Souls</option>
                    <option value="158. Before Thee, Lord, I Bow My Head">158. Before Thee, Lord, I Bow My Head</option>
                    <option value="159. Now the Day Is Over">159. Now the Day Is Over</option>
                    <option value="160. Softly Now the Light of Day">160. Softly Now the Light of Day</option>
                    <option value="161. The Lord Be with Us">161. The Lord Be with Us</option>
                    <option value="162. Lord, We Come before Thee Now">162. Lord, We Come before Thee Now</option>
                    <option value="163. Lord, Dismiss Us with Thy Blessing">163. Lord, Dismiss Us with Thy Blessing</option>
                    <option value="164. Great God, to Thee My Evening Song">164. Great God, to Thee My Evening Song</option>
                    <option value="165. Abide with Me; ’Tis Eventide">165. Abide with Me; ’Tis Eventide</option>
                    <option value="166. Abide with Me!">166. Abide with Me!</option>
                    <option value="167. Come, Let Us Sing an Evening Hymn">167. Come, Let Us Sing an Evening Hymn</option>
                    <option value="168. As the Shadows Fall">168. As the Shadows Fall</option>
                    <option value="169. As Now We Take the Sacrament">169. As Now We Take the Sacrament</option>
                    <option value="170. God, Our Father, Hear Us Pray">170. God, Our Father, Hear Us Pray</option>
                    <option value="171. With Humble Heart">171. With Humble Heart</option>
                    <option value="172. In Humility, Our Savior">172. In Humility, Our Savior</option>
                    <option value="173. While of These Emblems We Partake">173. While of These Emblems We Partake</option>
                    <option value="173. While of These Emblems We Partake">173. While of These Emblems We Partake</option>
                    <option value="175. O God, the Eternal Father">175. O God, the Eternal Father</option>
                    <option value="176. 'Tis Sweet to Sing the Matchless Love">176. 'Tis Sweet to Sing the Matchless Love</option>
                    <option value="176. 'Tis Sweet To Sing the Matchless Love">176. 'Tis Sweet To Sing the Matchless Love</option>
                    <option value="178. O Lord of Hosts">178. O Lord of Hosts</option>
                    <option value="179. Again, Our Dear Redeeming Lord">179. Again, Our Dear Redeeming Lord</option>
                    <option value="180. Father in Heaven, We Do Believe">180. Father in Heaven, We Do Believe</option>
                    <option value="181. Jesus of Nazareth, Savior and King">181. Jesus of Nazareth, Savior and King</option>
                    <option value="182. We’ll Sing All Hail to Jesus’ Name">182. We’ll Sing All Hail to Jesus’ Name</option>
                    <option value="183. In Remembrance of Thy Suffering">183. In Remembrance of Thy Suffering</option>
                    <option value="184. Upon the Cross of Calvary">184. Upon the Cross of Calvary</option>
                    <option value="185. Reverently and Meekly Now">185. Reverently and Meekly Now</option>
                    <option value="186. Again We Meet around the Board">186. Again We Meet around the Board</option>
                    <option value="187. God Loved Us, So He Sent His Son">187. God Loved Us, So He Sent His Son</option>
                    <option value="188. Thy Will, O Lord, Be Done">188. Thy Will, O Lord, Be Done</option>
                    <option value="189. O Thou, Before the World Began">189. O Thou, Before the World Began</option>
                    <option value="190. In Memory of the Crucified">190. In Memory of the Crucified</option>
                    <option value="191. Behold the Great Redeemer Die">191. Behold the Great Redeemer Die</option>
                    <option value="192. He Died! The Great Redeemer Died">192. He Died! The Great Redeemer Died</option>
                    <option value="193. I Stand All Amazed">193. I Stand All Amazed</option>
                    <option value="194. There Is a Green Hill Far Away">194. There Is a Green Hill Far Away</option>
                    <option value="195. How Great the Wisdom and the Love">195. How Great the Wisdom and the Love</option>
                    <option value="196. Jesus, Once of Humble Birth">196. Jesus, Once of Humble Birth</option>
                </select>
                <span asp-validation-for="SacamentHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateHymn" class="control-label"></label>
                <input asp-for="IntermediateHymn" class="form-control" value="Enter Musical Number" />
                <span asp-validation-for="IntermediateHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label"></label>
                <select asp-for="ClosingHymn" class="form-control">
                    <option value="Please Select a Hymn">Please Select a Hymn</option>
                    <option value="1. The Morning Breaks">1. The Morning Breaks</option>
                    <option value="2. The Spirit of God">2. The Spirit of God</option>
                    <option value="3. Now Let Us Rejoice">3. Now Let Us Rejoice</option>
                    <option value="4. Truth Eternal">4. Truth Eternal</option>
                    <option value="5. High on the Mountain Top">5. High on the Mountain Top</option>
                    <option value="6. Redeemer of Israel">6. Redeemer of Israel</option>
                    <option value="7. Israel, Israel, God Is Calling">7. Israel, Israel, God Is Calling</option>
                    <option value="8. Awake and Arise">8. Awake and Arise</option>
                    <option value="9. Come, Rejoice">9. Come, Rejoice</option>
                    <option value="10. Come, Sing to the Lord">10. Come, Sing to the Lord</option>
                    <option value="11. What Was Witnessed in the Heavens?">11. What Was Witnessed in the Heavens?</option>
                    <option value="12. ’Twas Witnessed in the Morning Sky">12. ’Twas Witnessed in the Morning Sky</option>
                    <option value="13. An Angel from on High">13. An Angel from on High</option>
                    <option value="14. Sweet Is the Peace the Gospel Brings">14. Sweet Is the Peace the Gospel Brings</option>
                    <option value="15. I Saw a Mighty Angel Fly">15. I Saw a Mighty Angel Fly</option>
                    <option value="16. What Glorious Scenes Mine Eyes Behold">16. What Glorious Scenes Mine Eyes Behold</option>
                    <option value="17. Awake, Ye Saints of God, Awake!">17. Awake, Ye Saints of God, Awake!</option>
                    <option value="18. The Voice of God Again Is Heard">18. The Voice of God Again Is Heard</option>
                    <option value="19. We Thank Thee, O God, for a Prophet">19. We Thank Thee, O God, for a Prophet</option>
                    <option value="20. God of Power, God of Right">20. God of Power, God of Right</option>
                    <option value="21. Come, Listen to a Prophet’s Voice">21. Come, Listen to a Prophet’s Voice</option>
                    <option value="22. We Listen to a Prophet’s Voice">22. We Listen to a Prophet’s Voice</option>
                    <option value="23. We Ever Pray for Thee">23. We Ever Pray for Thee</option>
                    <option value="24. God Bless Our Prophet Dear">24. God Bless Our Prophet Dear</option>
                    <option value="25. Now We’ll Sing with One Accord">25. Now We’ll Sing with One Accord</option>
                    <option value="26. Joseph Smith’s First Prayer">26. Joseph Smith’s First Prayer</option>
                    <option value="27. Praise to the Man">27. Praise to the Man</option>
                    <option value="28. Saints, Behold How Great Jehovah">28. Saints, Behold How Great Jehovah</option>
                    <option value="29. A Poor Wayfaring Man of Grief">29. A Poor Wayfaring Man of Grief</option>
                    <option value="30. Come, Come, Ye Saints">30. Come, Come, Ye Saints</option>
                    <option value="31. O God, Our Help in Ages Past">31. O God, Our Help in Ages Past</option>
                    <option value="32. The Happy Day at Last Has Come">32. The Happy Day at Last Has Come</option>
                    <option value="33. Our Mountain Home So Dear">33. Our Mountain Home So Dear</option>
                    <option value="34. O Ye Mountains High">34. O Ye Mountains High</option>
                    <option value="35. For the Strength of the Hills">35. For the Strength of the Hills</option>
                    <option value="36. They, the Builders of the Nation">36. They, the Builders of the Nation</option>
                    <option value="37. The Wintry Day, Descending to Its Close">37. The Wintry Day, Descending to Its Close</option>
                    <option value="38. Come, All Ye Saints of Zion">38. Come, All Ye Saints of Zion</option>
                    <option value="39. O Saints of Zion">39. O Saints of Zion</option>
                    <option value="40. Arise, O Glorious Zion">40. Arise, O Glorious Zion</option>
                    <option value="41. Let Zion in Her Beauty Rise">41. Let Zion in Her Beauty Rise</option>
                    <option value="42. Hail to the Brightness of Zion’s Glad Morning!">42. Hail to the Brightness of Zion’s Glad Morning!</option>
                    <option value="43. Zion Stands with Hills Surrounded">43. Zion Stands with Hills Surrounded</option>
                    <option value="44. Beautiful Zion, Built Above">44. Beautiful Zion, Built Above</option>
                    <option value="45. Lead Me into Life Eternal">45. Lead Me into Life Eternal</option>
                    <option value="46. Glorious Things of Thee Are Spoken">46. Glorious Things of Thee Are Spoken</option>
                    <option value="47. We Will Sing of Zion">47. We Will Sing of Zion</option>
                    <option value="48. Glorious Things Are Sung of Zion">48. Glorious Things Are Sung of Zion</option>
                    <option value="49. Adam-ondi-Ahman">49. Adam-ondi-Ahman</option>
                    <option value="50. Come, Thou Glorious Day of Promise">50. Come, Thou Glorious Day of Promise</option>
                    <option value="51. Sons of Michael, He Approaches">51. Sons of Michael, He Approaches</option>
                    <option value="52. The Day Dawn Is Breaking">52. The Day Dawn Is Breaking</option>
                    <option value="53. Let Earth’s Inhabitants Rejoice">53. Let Earth’s Inhabitants Rejoice</option>
                    <option value="54. Behold, the Mountain of the Lord">54. Behold, the Mountain of the Lord</option>
                    <option value="55. Lo, the Mighty God Appearing!">55. Lo, the Mighty God Appearing!</option>
                    <option value="56. Softly Beams the Sacred Dawning">56. Softly Beams the Sacred Dawning</option>
                    <option value="57. We’re Not Ashamed to Own Our Lord">57. We’re Not Ashamed to Own Our Lord</option>
                    <option value="58. Come, Ye Children of the Lord">58. Come, Ye Children of the Lord</option>
                    <option value="59. Come, O Thou King of Kings">59. Come, O Thou King of Kings</option>
                    <option value="60. Battle Hymn of the Republic">60. Battle Hymn of the Republic</option>
                    <option value="61. Raise Your Voices to the Lord">61. Raise Your Voices to the Lord</option>
                    <option value="62. All Creatures of Our God and King">62. All Creatures of Our God and King</option>
                    <option value="63. Great King of Heaven">63. Great King of Heaven</option>
                    <option value="64. On This Day of Joy and Gladness">64. On This Day of Joy and Gladness</option>
                    <option value="65. Come, All Ye Saints Who Dwell on Earth">65. Come, All Ye Saints Who Dwell on Earth</option>
                    <option value="66. Rejoice, the Lord Is King!">66. Rejoice, the Lord Is King!</option>
                    <option value="67. Glory to God on High">67. Glory to God on High</option>
                    <option value="68. A Mighty Fortress Is Our God">68. A Mighty Fortress Is Our God</option>
                    <option value="69. All Glory, Laud, and Honor">69. All Glory, Laud, and Honor</option>
                    <option value="70. Sing Praise to Him">70. Sing Praise to Him</option>
                    <option value="71. With Songs of Praise">71. With Songs of Praise</option>
                    <option value="72. Praise to the Lord, the Almighty">72. Praise to the Lord, the Almighty</option>
                    <option value="73. Praise the Lord with Heart and Voice">73. Praise the Lord with Heart and Voice</option>
                    <option value="74. Praise Ye the Lord">74. Praise Ye the Lord</option>
                    <option value="75. In Hymns of Praise">75. In Hymns of Praise</option>
                    <option value="76. God of Our Fathers, We Come unto Thee">76. God of Our Fathers, We Come unto Thee</option>
                    <option value="77. Great Is the Lord">77. Great Is the Lord</option>
                    <option value="78. God of Our Fathers, Whose Almighty Hand">78. God of Our Fathers, Whose Almighty Hand</option>
                    <option value="79. With All the Power of Heart and Tongue">79. With All the Power of Heart and Tongue</option>
                    <option value="80. God of Our Fathers, Known of Old">80. God of Our Fathers, Known of Old</option>
                    <option value="81. Press Forward, Saints">81. Press Forward, Saints</option>
                    <option value="82. For All the Saints">82. For All the Saints</option>
                    <option value="83. Guide Us, O Thou Great Jehovah">83. Guide Us, O Thou Great Jehovah</option>
                    <option value="84. Faith of Our Fathers">84. Faith of Our Fathers</option>
                    <option value="85. How Firm a Foundation">85. How Firm a Foundation</option>
                    <option value="86. How Great Thou Art">86. How Great Thou Art</option>
                    <option value="87. God Is Love">87. God Is Love</option>
                    <option value="88. Great God, Attend While Zion Sings">88. Great God, Attend While Zion Sings</option>
                    <option value="89. The Lord Is My Light">89. The Lord Is My Light</option>
                    <option value="90. From All That Dwell below the Skies">90. From All That Dwell below the Skies</option>
                    <option value="91. Father, Thy Children to Thee Now Raise">91. Father, Thy Children to Thee Now Raise</option>
                    <option value="92. For the Beauty of the Earth">92. For the Beauty of the Earth</option>
                    <option value="93. Prayer of Thanksgiving">93. Prayer of Thanksgiving</option>
                    <option value="94. Come, Ye Thankful People">94. Come, Ye Thankful People</option>
                    <option value="95. Now Thank We All Our God">95. Now Thank We All Our God</option>
                    <option value="96. Dearest Children, God Is Near You">96. Dearest Children, God Is Near You</option>
                    <option value="97. Lead, Kindly Light">97. Lead, Kindly Light</option>
                    <option value="98. I Need Thee Every Hour">98. I Need Thee Every Hour</option>
                    <option value="99. Nearer, Dear Savior, to Thee">99. Nearer, Dear Savior, to Thee</option>
                    <option value="100. Nearer, My God, to Thee">100. Nearer, My God, to Thee</option>
                    <option value="101. Guide Me to Thee">101. Guide Me to Thee</option>
                    <option value="102. Jesus, Lover of My Soul">102. Jesus, Lover of My Soul</option>
                    <option value="103. Precious Savior, Dear Redeemer">103. Precious Savior, Dear Redeemer</option>
                    <option value="104. Jesus, Savior, Pilot Me">104. Jesus, Savior, Pilot Me</option>
                    <option value="105. Master, the Tempest Is Raging">105. Master, the Tempest Is Raging</option>
                    <option value="106. God Speed the Right">106. God Speed the Right</option>
                    <option value="107. Lord, Accept Our True Devotion">107. Lord, Accept Our True Devotion</option>
                    <option value="108. The Lord Is My Shepherd">108. The Lord Is My Shepherd</option>
                    <option value="109. The Lord My Pasture Will Prepare">109. The Lord My Pasture Will Prepare</option>
                    <option value="110. Cast Thy Burden upon the Lord">110. Cast Thy Burden upon the Lord</option>
                    <option value="111. Rock of Ages">111. Rock of Ages</option>
                    <option value="112. Savior, Redeemer of My Soul">112. Savior, Redeemer of My Soul</option>
                    <option value="113. Our Savior’s Love">113. Our Savior’s Love</option>
                    <option value="114. Come unto Him">114. Come unto Him</option>
                    <option value="115. Come, Ye Disconsolate">115. Come, Ye Disconsolate</option>
                    <option value="116. Come, Follow Me">116. Come, Follow Me</option>
                    <option value="117. Come unto Jesus">117. Come unto Jesus</option>
                    <option value="118. Ye Simple Souls Who Stray">118. Ye Simple Souls Who Stray</option>
                    <option value="119. Come, We That Love the Lord">119. Come, We That Love the Lord</option>
                    <option value="120. Lean on My Ample Arm">120. Lean on My Ample Arm</option>
                    <option value="121. I’m a Pilgrim, I’m a Stranger">121. I’m a Pilgrim, I’m a Stranger</option>
                    <option value="122. Though Deepening Trials">122. Though Deepening Trials</option>
                    <option value="123. Oh, May My Soul Commune with Thee">123. Oh, May My Soul Commune with Thee</option>
                    <option value="124. Be Still, My Soul">124. Be Still, My Soul</option>
                    <option value="125. How Gentle God’s Commands">125. How Gentle God’s Commands</option>
                    <option value="126. How Long, O Lord Most Holy and True">126. How Long, O Lord Most Holy and True</option>
                    <option value="127. Does the Journey Seem Long?">127. Does the Journey Seem Long?</option>
                    <option value="128. When Faith Endures">128. When Faith Endures</option>
                    <option value="129. Where Can I Turn for Peace?">129. Where Can I Turn for Peace?</option>
                    <option value="130. Be Thou Humble">130. Be Thou Humble</option>
                    <option value="131. More Holiness Give Me">131. More Holiness Give Me</option>
                    <option value="132. God Is in His Holy Temple">132. God Is in His Holy Temple</option>
                    <option value="133. Father in Heaven">133. Father in Heaven</option>
                    <option value="134. I Believe in Christ">134. I Believe in Christ</option>
                    <option value="135. My Redeemer Lives">135. My Redeemer Lives</option>
                    <option value="136. I Know That My Redeemer Lives">136. I Know That My Redeemer Lives</option>
                    <option value="137. Testimony">137. Testimony</option>
                    <option value="138. Bless Our Fast, We Pray">138. Bless Our Fast, We Pray</option>
                    <option value="139. In Fasting We Approach Thee">139. In Fasting We Approach Thee</option>
                    <option value="140. Did You Think to Pray?">140. Did You Think to Pray?</option>
                    <option value="141. Jesus, the Very Thought of Thee">141. Jesus, the Very Thought of Thee</option>
                    <option value="142. Sweet Hour of Prayer">142. Sweet Hour of Prayer</option>
                    <option value="143. Let the Holy Spirit Guide">143. Let the Holy Spirit Guide</option>
                    <option value="144. Secret Prayer">144. Secret Prayer</option>
                    <option value="145. Prayer Is the Soul’s Sincere Desire">145. Prayer Is the Soul’s Sincere Desire</option>
                    <option value="146. Gently Raise the Sacred Strain">146. Gently Raise the Sacred Strain</option>
                    <option value="147. Sweet Is the Work">147. Sweet Is the Work</option>
                    <option value="148. Sabbath Day">148. Sabbath Day</option>
                    <option value="149. As the Dew from Heaven Distilling">149. As the Dew from Heaven Distilling</option>
                    <option value="150. O Thou Kind and Gracious Father">150. O Thou Kind and Gracious Father</option>
                    <option value="151. We Meet, Dear Lord">151. We Meet, Dear Lord</option>
                    <option value="152. God Be with You Till We Meet Again">152. God Be with You Till We Meet Again</option>
                    <option value="153. Lord, We Ask Thee Ere We Part">153. Lord, We Ask Thee Ere We Part</option>
                    <option value="154. Father, This Hour Has Been One of Joy">154. Father, This Hour Has Been One of Joy</option>
                    <option value="155. We Have Partaken of Thy Love">155. We Have Partaken of Thy Love</option>
                    <option value="156. Sing We Now at Parting">156. Sing We Now at Parting</option>
                    <option value="157. Thy Spirit, Lord, Has Stirred Our Souls">157. Thy Spirit, Lord, Has Stirred Our Souls</option>
                    <option value="158. Before Thee, Lord, I Bow My Head">158. Before Thee, Lord, I Bow My Head</option>
                    <option value="159. Now the Day Is Over">159. Now the Day Is Over</option>
                    <option value="160. Softly Now the Light of Day">160. Softly Now the Light of Day</option>
                    <option value="161. The Lord Be with Us">161. The Lord Be with Us</option>
                    <option value="162. Lord, We Come before Thee Now">162. Lord, We Come before Thee Now</option>
                    <option value="163. Lord, Dismiss Us with Thy Blessing">163. Lord, Dismiss Us with Thy Blessing</option>
                    <option value="164. Great God, to Thee My Evening Song">164. Great God, to Thee My Evening Song</option>
                    <option value="165. Abide with Me; ’Tis Eventide">165. Abide with Me; ’Tis Eventide</option>
                    <option value="166. Abide with Me!">166. Abide with Me!</option>
                    <option value="167. Come, Let Us Sing an Evening Hymn">167. Come, Let Us Sing an Evening Hymn</option>
                    <option value="168. As the Shadows Fall">168. As the Shadows Fall</option>
                    <option value="169. As Now We Take the Sacrament">169. As Now We Take the Sacrament</option>
                    <option value="170. God, Our Father, Hear Us Pray">170. God, Our Father, Hear Us Pray</option>
                    <option value="171. With Humble Heart">171. With Humble Heart</option>
                    <option value="172. In Humility, Our Savior">172. In Humility, Our Savior</option>
                    <option value="173. While of These Emblems We Partake">173. While of These Emblems We Partake</option>
                    <option value="173. While of These Emblems We Partake">173. While of These Emblems We Partake</option>
                    <option value="175. O God, the Eternal Father">175. O God, the Eternal Father</option>
                    <option value="176. 'Tis Sweet to Sing the Matchless Love">176. 'Tis Sweet to Sing the Matchless Love</option>
                    <option value="176. 'Tis Sweet To Sing the Matchless Love">176. 'Tis Sweet To Sing the Matchless Love</option>
                    <option value="178. O Lord of Hosts">178. O Lord of Hosts</option>
                    <option value="179. Again, Our Dear Redeeming Lord">179. Again, Our Dear Redeeming Lord</option>
                    <option value="180. Father in Heaven, We Do Believe">180. Father in Heaven, We Do Believe</option>
                    <option value="181. Jesus of Nazareth, Savior and King">181. Jesus of Nazareth, Savior and King</option>
                    <option value="182. We’ll Sing All Hail to Jesus’ Name">182. We’ll Sing All Hail to Jesus’ Name</option>
                    <option value="183. In Remembrance of Thy Suffering">183. In Remembrance of Thy Suffering</option>
                    <option value="184. Upon the Cross of Calvary">184. Upon the Cross of Calvary</option>
                    <option value="185. Reverently and Meekly Now">185. Reverently and Meekly Now</option>
                    <option value="186. Again We Meet around the Board">186. Again We Meet around the Board</option>
                    <option value="187. God Loved Us, So He Sent His Son">187. God Loved Us, So He Sent His Son</option>
                    <option value="188. Thy Will, O Lord, Be Done">188. Thy Will, O Lord, Be Done</option>
                    <option value="189. O Thou, Before the World Began">189. O Thou, Before the World Began</option>
                    <option value="190. In Memory of the Crucified">190. In Memory of the Crucified</option>
                    <option value="191. Behold the Great Redeemer Die">191. Behold the Great Redeemer Die</option>
                    <option value="192. He Died! The Great Redeemer Died">192. He Died! The Great Redeemer Died</option>
                    <option value="193. I Stand All Amazed">193. I Stand All Amazed</option>
                    <option value="194. There Is a Green Hill Far Away">194. There Is a Green Hill Far Away</option>
                    <option value="195. How Great the Wisdom and the Love">195. How Great the Wisdom and the Love</option>
                    <option value="196. Jesus, Once of Humble Birth">196. Jesus, Once of Humble Birth</option>
                    <option value="197. O Savior, Thou Who Wearest a Crown">197. O Savior, Thou Who Wearest a Crown</option>
                    <option value="198. That Easter Morn">198. That Easter Morn</option>
                    <option value="199. He Is Risen!">199. He Is Risen!</option>
                    <option value="200. Christ the Lord Is Risen Today">200. Christ the Lord Is Risen Today</option>
                    <option value="201. Joy to the World">201. Joy to the World</option>
                    <option value="202. Oh, Come, All Ye Faithful">202. Oh, Come, All Ye Faithful</option>
                    <option value="203. Angels We Have Heard on High">203. Angels We Have Heard on High</option>
                    <option value="204. Silent Night">204. Silent Night</option>
                    <option value="205. Once in Royal David’s City">205. Once in Royal David’s City</option>
                    <option value="206. Away in a Manger">206. Away in a Manger</option>
                    <option value="207. It Came upon the Midnight Clear">207. It Came upon the Midnight Clear</option>
                    <option value="208. O Little Town of Bethlehem">208. O Little Town of Bethlehem</option>
                    <option value="209. Hark! The Herald Angels Sing">209. Hark! The Herald Angels Sing</option>
                    <option value="210. With Wondering Awe">210. With Wondering Awe</option>
                    <option value="211. While Shepherds Watched Their Flocks">211. While Shepherds Watched Their Flocks</option>
                    <option value="212. Far, Far Away on Judea’s Plains">212. Far, Far Away on Judea’s Plains</option>
                    <option value="213. The First Noel">213. The First Noel</option>
                    <option value="214. I Heard the Bells on Christmas Day">214. I Heard the Bells on Christmas Day</option>
                    <option value="215. Ring Out, Wild Bells">215. Ring Out, Wild Bells</option>
                    <option value="216. We Are Sowing">216. We Are Sowing</option>
                    <option value="217. Come, Let Us Anew">217. Come, Let Us Anew</option>
                    <option value="218. We Give Thee But Thine Own">218. We Give Thee But Thine Own</option>
                    <option value="219. Because I Have Been Given Much">219. Because I Have Been Given Much</option>
                    <option value="220. Lord, I Would Follow Thee">220. Lord, I Would Follow Thee</option>
                    <option value="221. Dear to the Heart of the Shepherd">221. Dear to the Heart of the Shepherd</option>
                    <option value="222. Hear Thou Our Hymn, O Lord">222. Hear Thou Our Hymn, O Lord</option>
                    <option value="223. Have I Done Any Good?">223. Have I Done Any Good?</option>
                    <option value="224. I Have Work Enough to Do">224. I Have Work Enough to Do</option>
                    <option value="225. We Are Marching On to Glory">225. We Are Marching On to Glory</option>
                    <option value="226. Improve the Shining Moments">226. Improve the Shining Moments</option>
                    <option value="227. There Is Sunshine in My Soul Today">227. There Is Sunshine in My Soul Today</option>
                    <option value="228. You Can Make the Pathway Bright">228. You Can Make the Pathway Bright</option>
                    <option value="229. Today, While the Sun Shines">229. Today, While the Sun Shines</option>
                    <option value="230. Scatter Sunshine">230. Scatter Sunshine</option>
                    <option value="231. Father, Cheer Our Souls Tonight">231. Father, Cheer Our Souls Tonight</option>
                    <option value="232. Let Us Oft Speak Kind Words">232. Let Us Oft Speak Kind Words</option>
                    <option value="233. Nay, Speak No Ill">233. Nay, Speak No Ill</option>
                    <option value="234. Jesus, Mighty King in Zion">234. Jesus, Mighty King in Zion</option>
                    <option value="235. Should You Feel Inclined to Censure">235. Should You Feel Inclined to Censure</option>
                    <option value="236. Lord, Accept into Thy Kingdom">236. Lord, Accept into Thy Kingdom</option>
                    <option value="237. Do What Is Right">237. Do What Is Right</option>
                    <option value="238. Behold Thy Sons and Daughters, Lord">238. Behold Thy Sons and Daughters, Lord</option>
                    <option value="239. Choose the Right">239. Choose the Right</option>
                    <option value="240. Know This, That Every Soul Is Free">240. Know This, That Every Soul Is Free</option>
                    <option value="241. Count Your Blessings">241. Count Your Blessings</option>
                    <option value="242. Praise God, from Whom All Blessings Flow">242. Praise God, from Whom All Blessings Flow</option>
                    <option value="243. Let Us All Press On">243. Let Us All Press On</option>
                    <option value="244. Come Along, Come Along">244. Come Along, Come Along</option>
                    <option value="245. This House We Dedicate to Thee">245. This House We Dedicate to Thee</option>
                    <option value="246. Onward, Christian Soldiers">246. Onward, Christian Soldiers</option>
                    <option value="247. We Love Thy House, O God">247. We Love Thy House, O God</option>
                    <option value="248. Up, Awake, Ye Defenders of Zion">248. Up, Awake, Ye Defenders of Zion</option>
                    <option value="249. Called to Serve">249. Called to Serve</option>
                    <option value="250. We Are All Enlisted">250. We Are All Enlisted</option>
                    <option value="251. Behold! A Royal Army">251. Behold! A Royal Army</option>
                    <option value="252. Put Your Shoulder to the Wheel">252. Put Your Shoulder to the Wheel</option>
                    <option value="253. Like Ten Thousand Legions Marching">253. Like Ten Thousand Legions Marching</option>
                    <option value="254. True to the Faith">254. True to the Faith</option>
                    <option value="255. Carry On">255. Carry On</option>
                    <option value="256. As Zion’s Youth in Latter Days">256. As Zion’s Youth in Latter Days</option>
                    <option value="257. Rejoice! A Glorious Sound Is Heard">257. Rejoice! A Glorious Sound Is Heard</option>
                    <option value="258. O Thou Rock of Our Salvation">258. O Thou Rock of Our Salvation</option>
                    <option value="259. Hope of Israel">259. Hope of Israel</option>
                    <option value="260. Who’s on the Lord’s Side?">260. Who’s on the Lord’s Side?</option>
                    <option value="261. Thy Servants Are Prepared">261. Thy Servants Are Prepared</option>
                    <option value="262. Go, Ye Messengers of Glory">262. Go, Ye Messengers of Glory</option>
                    <option value="263. Go Forth with Faith">263. Go Forth with Faith</option>
                    <option value="264. Hark, All Ye Nations!">264. Hark, All Ye Nations!</option>
                    <option value="265. Arise, O God, and Shine">265. Arise, O God, and Shine</option>
                    <option value="266. The Time Is Far Spent">266. The Time Is Far Spent</option>
                    <option value="267. How Wondrous and Great">267. How Wondrous and Great</option>
                    <option value="268. Come, All Whose Souls Are Lighted">268. Come, All Whose Souls Are Lighted</option>
                    <option value="269. Jehovah, Lord of Heaven and Earth">269. Jehovah, Lord of Heaven and Earth</option>
                    <option value="270. I’ll Go Where You Want Me to Go">270. I’ll Go Where You Want Me to Go</option>
                    <option value="271. Oh, Holy Words of Truth and Love">271. Oh, Holy Words of Truth and Love</option>
                    <option value="272. Oh Say, What Is Truth?">272. Oh Say, What Is Truth?</option>
                    <option value="273. Truth Reflects upon Our Senses">273. Truth Reflects upon Our Senses</option>
                    <option value="274. The Iron Rod">274. The Iron Rod</option>
                    <option value="275. Men Are That They Might Have Joy">275. Men Are That They Might Have Joy</option>
                    <option value="276. Come Away to the Sunday School">276. Come Away to the Sunday School</option>
                    <option value="277. As I Search the Holy Scriptures">277. As I Search the Holy Scriptures</option>
                    <option value="278. Thanks for the Sabbath School">278. Thanks for the Sabbath School</option>
                    <option value="279. Thy Holy Word">279. Thy Holy Word</option>
                    <option value="280. Welcome, Welcome, Sabbath Morning">280. Welcome, Welcome, Sabbath Morning</option>
                    <option value="281. Help Me Teach with Inspiration">281. Help Me Teach with Inspiration</option>
                    <option value="282. We Meet Again in Sabbath School">282. We Meet Again in Sabbath School</option>
                    <option value="283. The Glorious Gospel Light Has Shone">283. The Glorious Gospel Light Has Shone</option>
                    <option value="284. If You Could Hie to Kolob">284. If You Could Hie to Kolob</option>
                    <option value="285. God Moves in a Mysterious Way">285. God Moves in a Mysterious Way</option>
                    <option value="286. Oh, What Songs of the Heart">286. Oh, What Songs of the Heart</option>
                    <option value="287. Rise, Ye Saints, and Temples Enter">287. Rise, Ye Saints, and Temples Enter</option>
                    <option value="288. How Beautiful Thy Temples, Lord">288. How Beautiful Thy Temples, Lord</option>
                    <option value="289. Holy Temples on Mount Zion">289. Holy Temples on Mount Zion</option>
                    <option value="290. Rejoice, Ye Saints of Latter Days">290. Rejoice, Ye Saints of Latter Days</option>
                    <option value="291. Turn Your Hearts">291. Turn Your Hearts</option>
                    <option value="292. O My Father">292. O My Father</option>
                    <option value="293. Each Life That Touches Ours for Good">293. Each Life That Touches Ours for Good</option>
                    <option value="294. Love at Home">294. Love at Home</option>
                    <option value="295. O Love That Glorifies the Son">295. O Love That Glorifies the Son</option>
                    <option value="296. Our Father, by Whose Name">296. Our Father, by Whose Name</option>
                    <option value="297. From Homes of Saints Glad Songs Arise">297. From Homes of Saints Glad Songs Arise</option>
                    <option value="298. Home Can Be a Heaven on Earth">298. Home Can Be a Heaven on Earth</option>
                    <option value="299. Children of Our Heavenly Father">299. Children of Our Heavenly Father</option>
                    <option value="300. Families Can Be Together Forever">300. Families Can Be Together Forever</option>
                    <option value="301. I Am a Child of God">301. I Am a Child of God</option>
                    <option value="302. I Know My Father Lives">302. I Know My Father Lives</option>
                    <option value="303. Keep the Commandments">303. Keep the Commandments</option>
                    <option value="304. Teach Me to Walk in the Light">304. Teach Me to Walk in the Light</option>
                    <option value="305. The Light Divine">305. The Light Divine</option>
                    <option value="306. God’s Daily Care">306. God’s Daily Care</option>
                    <option value="307. In Our Lovely Deseret">307. In Our Lovely Deseret</option>
                    <option value="308. Love One Another">308. Love One Another</option>
                    <option value="309. As Sisters in Zion (Women)">309. As Sisters in Zion (Women)</option>
                    <option value="310. A Key Was Turned in Latter Days (Women)">310. A Key Was Turned in Latter Days (Women)</option>
                    <option value="311. We Meet Again as Sisters (Women)">311. We Meet Again as Sisters (Women)</option>
                    <option value="312. We Ever Pray for Thee (Women)">312. We Ever Pray for Thee (Women)</option>
                    <option value="313. God Is Love (Women)">313. God Is Love (Women)</option>
                    <option value="314. How Gentle God’s Commands (Women)">314. How Gentle God’s Commands (Women)</option>
                    <option value="315. Jesus, the Very Thought of Thee (Women)">315. Jesus, the Very Thought of Thee (Women)</option>
                    <option value="316. The Lord Is My Shepherd (Women)">316. The Lord Is My Shepherd (Women)</option>
                    <option value="317. Sweet Is the Work (Women)">317. Sweet Is the Work (Women)</option>
                    <option value="318. Love at Home (Women)">318. Love at Home (Women)</option>
                    <option value="319. Ye Elders of Israel (Men)">319. Ye Elders of Israel (Men)</option>
                    <option value="320. The Priesthood of Our Lord (Men)">320. The Priesthood of Our Lord (Men)</option>
                    <option value="321. Ye Who Are Called to Labor (Men)">321. Ye Who Are Called to Labor (Men)</option>
                    <option value="322. Come, All Ye Sons of God (Men)">322. Come, All Ye Sons of God (Men)</option>
                    <option value="323. Rise Up, O Men of God (Men’s Choir)">323. Rise Up, O Men of God (Men’s Choir)</option>
                    <option value="324. Rise Up, O Men of God (Men)">324. Rise Up, O Men of God (Men)</option>
                    <option value="325. See the Mighty Priesthood Gathered (Men’s Choir)">325. See the Mighty Priesthood Gathered (Men’s Choir)</option>
                    <option value="326. Come, Come, Ye Saints (Men’s Choir)">326. Come, Come, Ye Saints (Men’s Choir)</option>
                    <option value="327. Go, Ye Messengers of Heaven (Men’s Choir)">327. Go, Ye Messengers of Heaven (Men’s Choir)</option>
                    <option value="328. An Angel from on High">328. An Angel from on High</option>
                    <option value="329. Thy Servants Are Prepared (Men’s Choir)">329. Thy Servants Are Prepared (Men’s Choir)</option>
                    <option value="330. See, the Mighty Angel Flying (Men’s Choir)">330. See, the Mighty Angel Flying (Men’s Choir)</option>
                    <option value="331. Oh Say, What Is Truth? (Men’s Choir)">331. Oh Say, What Is Truth? (Men’s Choir)</option>
                    <option value="332. Come, O Thou King of Kings (Men’s Choir)">332. Come, O Thou King of Kings (Men’s Choir)</option>
                    <option value="333. High on the Mountain Top (Men’s Choir)">333. High on the Mountain Top (Men’s Choir)</option>
                    <option value="334. I Need Thee Every Hour (Men’s Choir)">334. I Need Thee Every Hour (Men’s Choir)</option>
                    <option value="335. Brightly Beams Our Father’s Mercy (Men’s Choir)">335. Brightly Beams Our Father’s Mercy (Men’s Choir)</option>
                    <option value="336. School Thy Feelings (Men’s Choir)">336. School Thy Feelings (Men’s Choir)</option>
                    <option value="337. O Home Beloved (Men’s Choir)">337. O Home Beloved (Men’s Choir)</option>
                    <option value="338. America the Beautiful">338. America the Beautiful</option>
                    <option value="339. My Country, ’Tis of Thee">339. My Country, ’Tis of Thee</option>
                    <option value="340. The Star-Spangled Banner">340. The Star-Spangled Banner</option>
                    <option value="341. God Save the King">341. God Save the King</option>
                </select>
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Benediction" class="control-label"></label>
                <input asp-for="Benediction" class="form-control" />
                <span asp-validation-for="Benediction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Meeting" class="btn btn-secondary btn-sm" />
            </div>

            @*<div class="form-group">
                    <input type="hidden" value="Add Speaker" class="btn btn-secondary btn-sm" />
                    <a asp-action="AddSpeaker">Add Speaker</a>
                </div>*@

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Meeting List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}